@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;

}

:root{
    --main-font-family: 'League Spartan', sans-serif;
}

body {
    background-color: #3A2A53;
    color: black;
    font-family: 'Inconsolata', monospace;
    font-family: var(--main-font-family);
    height: 100%;
}

header{
    
    background: #2c3e50; 
}

main{
    padding-left: 40px;
    padding-right: 40px;
    height: 100vh;
    width: 100%;
}


a {
    text-decoration: none;
    color: inherit;
}



footer{
    width: 100%;
}



.header-container{
    display: flex;
    justify-content: space-between;
    padding: 10px 50px 10px;
    align-items: center;

}

.logo img{
    height: 60px;

}

li, a{
    list-style-type: none;
    text-decoration: none;
    font-family: var(--secondFont);
}

.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
}

.nav-links li {
    margin: 0 10px;
}

.nav-links li a {
    color: black;
    text-decoration: none;
    font-family: var(--secondFont);
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.nav-links li a:hover {
    background-color: #f0f0f0;
}




 /* Hero Container */
 .hero-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-container img{
    height: 400px;
    width: 100%;
}

/* Sale Items Container */
.items-container {
    padding: 40px; 
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    background-color: #3A2A53;
    margin: 0 auto;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); 
    max-width: 900px;
}

.sale-text {
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
    color: #fff;
}


.product-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: var(--product-card-background-color);
    border-radius: 10px;
    padding: 10px;
    transition: transform 0.2s;
    margin: 10px;
    box-shadow: 0 0 2px #ccc;
    max-width: 200px;
    
}

.product-container:hover {
    transform: translateY(-3px);
    box-shadow: 0 0 5px #ccc;
}

.product-container img {
    width: 150px;
    height: auto;
    margin-bottom: 10px;
}

.product-title {
    font-size: 20px;
    margin-bottom: 10px;
}

.product-discounted-price {
    color: #00a65a; /* Green color for discounted price */
    font-weight: bold;
    margin-bottom: 5px;
}

.product-regular-price {
    text-decoration: line-through;
    color: #999; /* Gray color for regular price */
}


/* Product page HTML file */
/* product-page.css */

.product-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 800px; 

    padding: 0 20px; 

    margin-top: 100px;
}

.product-page-image img {
    max-width: 300px;
    height: auto;
    margin-right: 20px;
}

.product-page-details {
    text-align: left;
}

.product-page-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.product-page-description {
    margin-bottom: 20px;
}

.product-page-price {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.add-to-cart-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
}

.add-to-cart-btn:hover {
    background-color: #0056b3;
}


.category-buttons {
    text-align: center;
    margin-bottom: 20px;
}

.category-button {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #3A2A53;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.category-button:hover {
    background-color: #5e4a7d;
}
/* ----------------------------------*/ 



/* Footer Icons */
.footer-icons {
    background: #2c3e50; 
    color: #fff; 
    padding: 20px; 
    text-align: center;
    height: 100%;
}

.footer-icons i {
    font-size: 24px; 
    margin: 0 10px; 
}

h2{
    font-size: 30px;
}

/* Icons */
.icons-container {
    display: flex;
    align-items: center;
}

.my-account {
    margin-right: 20px; 
    display: flex;
    align-items: center;
    color: #00ff1a; 
    text-decoration: none; 
    font-size: 30px; 
}


.my-account p {
    margin: 0; 
    font-weight: 500; 
    font-size: 20px;
}

.my-account i{
    margin-left: 10px;
}

.shopping-cart{
    font-size: 30px;
    color: #00ff1a; 
}

.shopping-cart p {
    font-weight: 500;
    font-size: 20px;
}

.cart-counter {
    background-color: #ff0000; /* Red background color */
    color: #ffffff; 
    border-radius: 50%; 
    padding: 0.2rem 0.4rem; 
    font-size: 10px; 
    position: absolute; 
    top: 13px;
    right: 60px;
}

/* cart-styles.css */

.cart-page-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cart-page-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.cart-items {
    margin-bottom: 20px;
}

.cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.cart-item img {
    width: 100px;
    height: auto;
    margin-right: 20px;
    border-radius: 5px;
}

.item-details {
    flex: 1;
}

.item-details h2 {
    font-size: 18px;
    margin-bottom: 5px;
}

.item-details p {
    font-size: 16px;
    margin-bottom: 10px;
}

.remove-item-btn {
    padding: 8px 16px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.remove-item-btn:hover {
    background-color: #c82333;
}

.cart-summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-summary p {
    font-size: 18px;
    font-weight: bold;
}

.checkout-btn {
    padding: 12px 24px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

.checkout-btn:hover {
    background-color: #0056b3;
}

.order-confirmation-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.order-confirmation-container h1 {
    margin-bottom: 20px;
}

.order-confirmation-container p {
    margin-bottom: 10px;
    back
}

.order-details {
    margin-top: 30px;
}

.order-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.order-item img {
    width: 100px;
    border-radius: 5px;
}

.item-details {
    margin-left: 20px;
    text-align: left;
}

.item-details h3 {
    margin-bottom: 5px;
}

.order-total {
    margin-top: 20px;
}

.order-total h2 {
    font-weight: bold;
}

.hamburgerMenuContainer{
    display: none;
}

#hamburgerMenuIcon{
    display: none;
}


@media (max-width: 1100px) {
    #hamburgerMenuIcon {
        display: block;
        
    }

    .nav-links{
        display: none;
    }

}