*{
    box-sizing: border-box;

}

:root{
    
}


body {
    background-color: black;
    color: blue;
    font-family: 'Inconsolata', monospace;
    width: 100%;
}

header{
    width: 100%;
    background-color: darkgoldenrod;
    height: 100px;
}

main{
    padding-left: 40px;
    padding-right: 40px;
    height: 100%;
    width: 100%;

}

footer{
    width: 100%;
    background-color: darkgoldenrod;
    height: 100px;
    bottom: 0;
    left: 0;
    
}



.header-container{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding: 10px 50px 10px;
    margin: auto;
}

.logo img{
    height: 60px;

}

li, a{
    list-style-type: none;
    text-decoration: none;
    font-family: var(--secondFont);
    font-size: 40px;
}

.nav-links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nav-links li a{

    color: black;
    padding-left: 40px;
    font-family: var(--secondFont);
}

.account img{
    height: 40px;
}


 /* Hero Container */
 .hero-container {
    background: #3498db; 
    color: #fff; 
    padding: 80px; 
    text-align: center;
}

/* Sale Items Container */
.sale-items-container {
    padding: 40px; 
    text-align: center;
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px; 
}

.product-container {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
}


.sale-items-container img{
    width: 200px;
}

/* Footer Icons */
.footer-icons {
    background: #2c3e50; 
    color: #fff; 
    padding: 20px; 
    text-align: center;
}

.footer-icons i {
    font-size: 24px; 
    margin: 0 10px; 
}

h2{
    font-size: 30px;
}